{% extends 'ShopAdminBundle::base_form.html.twig' %}

{% set _bundle,_module,_current='后台','管理','form' %}

{% block form_groups %}

    <div class="form-group">
        <label class="col-sm-2 control-label">活动主题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="wwww"
                   required="required" value="wwwww" placeholder="字数10到30范围">
        </div>
    </div>

{% endblock %}









