@charset "utf-8";
/* CSS Document */

.container {
	width: 100%;
	max-width: 520px;
	margin: 0 auto;
}
.buy-count {
	width: 38px;
}
.sale > .buy-count {
	margin: 0 2px;
}
.buy-txt {
	margin: 4px 0;
	width: 34px;
	height: 30px;
	line-height: 28px;
	border: 1px solid #ff7f01;
	text-align: center;
	background-color: #f7f7f7;
	font-size: 1.07142857rem;
	color: #444;
}
.thumb-active {
	border-bottom: 1px solid #eee;
}
.title {
	font-size: 17px;
	margin-top: 4px;
}
.info-txt {
	background: url(../images/icon_dot.png) left top no-repeat;
	background-size: 22px;
	padding: 0 10px 0 22px;
	font-size: 14px;
	line-height: 24px;
}
.info {
	padding-bottom: 5px;
}
.panel-default {
	border-bottom: 1px solid #eee;
}
.sucbar {
	width: 100%;
	padding: 5px 0;
	background: #fff;
	border-top: 1px solid #e1e1e1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
}
.enter {
	position: absolute;
	margin-left: 15%;
	margin-right: 15%;
	bottom: 10px;
	width: 70%;
	height: 35px;
	line-height: 30px;
	text-align: center;
	background-color: #FF632B;
	color: #FFF;
	font-size: 15px;
	right: 0;
	border-radius: 8px;
	font-weight: normal;
}
.pr10 {
	position: absolute;
	right: 20px;
}
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.add-img {
	width: 50px;
}
.buy-count {
	margin-right: 8px;
}
.enter > img {
	height: 20px;
	margin-top: 5px;
	margin-right: 10%;
}
.cart {
	margin-left: auto;
	margin-right: auto;
}
.cartbar {
	position: relative;
	width: 36px;
	height: 36px;
	background: #ff632b;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	bottom: 15%;
	right: 18px;
	border-radius: 50%;
	background-color: rgba(#ff632b, 0.5);
	-moz-box-shadow: -1px -1px 1px #ddd inset;
	-webkit-box-shadow: -1px -1px 1px #ddd inset;
	box-shadow: -1px -1px 1px #ddd inset;
	-moz-box-shadow: 1px 1px 1px #ddd inset;
	-webkit-box-shadow: 1px 1px 1px #ddd inset;
	box-shadow: 1px 1px 1px #ddd inset;
}
#skip1 {
	width: 40px;
	height: 40px;
	margin-left: 2%;
	padding: 5px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	bottom: 15%;
	right: 6px;
}
.cartbar > .cart {
	display：block;
	width: 40px;
}
.cart-img {
	position: absolute;
	height: 20px;
	left: 6px;
	top: 8px;
}
.circle {
	width: 24px;
	height: 15px;
	line-height: 12px;
	border: 1.5px solid #ee632b;
	border-radius: 7px;
	font-size: 8px;
	color: #ee632b;
	background-color: #fff;
}
.count {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#bottom-count {
	width: 100%;
	padding: 5px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 10px;
	height: 50px;
}
.pb5 {
	padding-bottom: 5px;
}
#ewm-img {
	width: 24px;
	height: 24px;
	float: right;
	margin-right: 10px;
}
.items-block > .goto {
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	background: #ffffff url(../images/develop.png) 97% center no-repeat;
	background-size: 100%;
	margin-right: 10px;
}
.yzm > img {
	width: 60%;
}
.yzm {
	text-align: center;
	margin-left: 18%;
}
del {
	color: #888
}
.tac {
	margin-right: auto;
	margin-left: auto;
}
#msg {
	position: fixed;
	z-index: 10000;
	width: 180px;
	height: 1px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #ff632b;
	display: none;
	bottom: 50px;
}
.a_link {
	float: left;
}
.addcar {
	float: left;
}
.delete {
	right: 10px;
	width: 28px;
}
.header > .user {
	width: 30px;
	height: 30px;
	background: url(../images/my2.png) right center no-repeat;
	background-size: 30px 30px;
	display: block;
	color: #FF632B;
	background-size: 30px 30px;
	margin: 5px 10px 0 5px;
	text-align: center;
	top: 0;
}
.state {
	width: 25%;
	top=0;
	right=0;
	margin-right: 15px;
}
.clearfix {
	height: 26px;
}
.gwclist {
	border-top: 1px solid #ddd;
	overflow: hidden;
	width: 100%;
	bottom: 0px;
	background: white;
	padding: 8px 8px 0 8px;
}
.navbar .div {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	color: #333;
}
.check-container {
	position:absolute;
	top:8px;
	left: 15px;
	width: 30px;
	height: 50px;
}
.check-qx {
	padding: 10px;
	height: 40px;
	width: 90px;
}
.total {
	width: auto;
	text-align: center;
	padding: 10px 0;
	height: 40px;
}
.gwclist {
	background: #fff;
}
.btn-alter {
	color: #fff;
	font-size: 14px;
	width: 40px;
	height: 30px;
	text-align: center;
}
.mendian {
	height: 30px;
}
.spxq-list1 {
	padding: 10px 0 10px 40px;
	min-height:70px;
	position:relative;
}
.spxq-list1 > dl {
	margin: 0 0 0 70px;
}
.spxq-list-img {
	width: 60px;
}
.amount {
	color: #999;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}
.spxq-title {
	width: 70%;
	font-size: 12px;
}
#btn-js {
	width: 70px;
	position: absolute;
	right: 10px;
	margin: 5px 0;
	height: 30px;
	color: #fff;
	line-height: 30px;
}
#btn-del {
	width: 70px;
	position: absolute;
	right: 10px;
	margin: 5px 0;
	height: 30px;
	color: #fff;
	background-color: #ddd;
	line-height: 30px;
}
.spxq-price {
	width: 65px;
	text-align: right;
	font-size: 14px;
}
.num {
	position:absolute;
	font-weight: 200;
	text-align: right;
	margin-top: 3px;
	padding: 0;
	color: #555;
	width:100px;
	right:0;
	top:30px;
}
.quantity {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	position: relative;


}
.num button {
	margin: 0;
	width: 25px;
	height: 22px;
	border: 1px solid #aaa;
	background-color: #f2f2f2;
	border-radius: 1px;

}
.quantity .minus::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	content: '';
	width: 8px;
	height: 2px;
	background-color: #6c6c6c;
}
.quantity .minus {
	position: relative;
	border-radius: 4px 0 0 4px;
	border-right: 0px none;
}
.quantity button {
	border: 2px solid #eee;
	font-size: 16px;
	line-height: 10px;
	font-weight: bold;
	color: #666;
	margin: 0;
	padding: 5px;
	outline: none !important;
	text-align: center;
	width: 26px;
	height: 22px;
	vertical-align: middle;
	text-indent: -9999px;
	overflow: hidden;
}
.num .txt {
	border: 1px solid #eee;
	height: 30px;
	width: 25px;
	line-height: 20px;
	padding: 0;
}
.quantity .txt {
	margin: 0;
	font-size: 14px;
	width: 24px;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	border-radius: 0;
	color:#333;
}
.quantity .plus {
	position: relative;
	border-left: 0px none;
}
.quantity .plus::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	content: '';
	width: 8px;
	height: 2px;
	background-color: #6c6c6c;
}
.quantity .plus::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	content: '';
	width: 2px;
	height: 8px;
	background-color: #6c6c6c;
}
.num .quantity .response-area {
	width: 32px;
	height: 40px;
	top: -5px;
	position: absolute;
}
.num .quantity .response-area-minus {
	right: -5px;
}
.num .quantity .response-area-plus {
	left: 0;
}
.goods_id{position: relative;}
.loading-more{
	height:30px;
	text-align:center;
	color:#666;
}
.loading-more p{
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	width:120px;
	background:url(../images/loading.png) 2px  no-repeat;
	background-size:18px 18px;
}